<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
      var myMap;
        ymaps.ready(init);

    function init () {
        myMap = new ymaps.Map('map', {
            center: [53.89, 27.53],
            zoom: 12
        }, {
            searchControlProvider: 'yandex#search'
        });

        var actualProvider = new ymaps.traffic.provider.Actual({}, {infoLayerShown: true});
        actualProvider.setMap(myMap);

        {% for block in lst2 %}



            pl{{ block.id }} = new ymaps.Placemark([{{ block.lat }}, {{ block.lon }}], {
                        balloonContent: '{{ block.comment }} {{ block.time_ago }}, type {{ block.idcat }}',
                        iconContent: "{{ block.name }}",
                    }, {
                        preset: {% if block.is_camera %}'islands#blueMoneyCircleIcon'{% else %}'islands#redStretchyIcon'{% endif %},
                        iconImageSize: [10, 30],
                    });
                    myMap.geoObjects.add(pl{{ block.id }});

        {% endfor %}
    }
    </script>
    <style>
        body, html {
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
        }
        #map {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
  <div id="map"></div>

</body>
</html>
