{% load static %}
<html>
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
{#    <link rel="shortcut icon" type="image/x-icon" href="https://canaan.io/favicon.ico"/>#}
    <link rel="stylesheet" type="text/css" href="https://yastatic.net/bootstrap/3.3.4/css/bootstrap.min.css">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">

    ymaps.ready(update_points);
    var myMap;
        function update_points() {
            myMap = new ymaps.Map('map', {
                center: [53.905, 27.55],
                zoom: 12,
                controls: []
            });
            var trafficControl = new ymaps.control.TrafficControl({
                state: {
                    providerKey: 'traffic#actual',
                    trafficShown: true
                }
            });
            myMap.controls.add(trafficControl);
            trafficControl.getProvider('traffic#actual').state.set('infoLayerShown', true);
            $.getJSON("{% url 'get_points_ajax' %}", function (data) {
                document.title =  Object.keys(data).length;
                $.each(data, function (key, val) {
                    var point_id = 'pl' + '' + val.id;
                    var camera = (val.is_camera == true);
                    var idcat6 = (val.idcat == 6);
                    var idcat1 = (val.idcat == 1);
                    var idcat3 = (val.idcat == 3);
                    var point_iconGlyph = '';
                    var point_iconCaption = '';
                    if (camera) {
                        point_preset = 'islands#redGlyphIcon';
                        point_iconImageSize = [10, 10];
                        point_iconGlyph = 'camera';

                    } else if (idcat6) {
                        point_preset = 'islands#blackStretchyIcon';
                        point_iconImageSize = [10, 30];
                    } else if (idcat1) {
                        point_preset = 'islands#brownGlyphIcon';
                        point_iconImageSize = [10, 30];
                        point_iconGlyph = 'wrench';
                        point_iconCaption = val.name;
                    } else if (idcat3) {
                        point_preset = 'islands#blueGlyphIcon';
                        point_iconImageSize = [10, 30];
                        point_iconGlyph = 'warning-sign';
                        point_iconCaption = val.name;
                    } else {
                        point_preset = 'islands#redStretchyIcon';
                        point_iconImageSize = [10, 30];
                    }
                    point_id = new ymaps.Placemark([val.lat, val.long ], {
                        balloonContent: val.comment + ' ' + val.time + ' type ' + val.idcat,
                        iconContent: val.name,
                        iconCaption: point_iconCaption,
                    },{
                        preset: point_preset,
                        iconImageSize: point_iconImageSize,
                        iconGlyph: point_iconGlyph,
                    });
                    myMap.geoObjects.add(point_id);
                });
            });
        }
        setInterval(update_points, 1000 * 60 * 1)
    </script>
</head>
<body>
  <div id="map" style="width: 100%; height: 100%"></div>
</body>
</html>

