<html>
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
        {% load static %}
    ymaps.ready(init);
    var myMap;

    function init () {
        myMap = new ymaps.Map('map', {
            center: [53.905, 27.55],
            zoom: 12
        }, {
            searchControlProvider: 'yandex#search'
        });

        var actualProvider = new ymaps.traffic.provider.Actual({}, {infoLayerShown: true});
        actualProvider.setMap(myMap);

        {% for block in lst %}
            pl{{ block.id }} = new ymaps.Placemark([{{ block.lat }}, {{ block.long }}], {
                        balloonContent: '{{ block.comment|safe}} {{ block.time|safe }} type {{ block.idcat|safe }}',
                        iconContent: '{{ block.name }}',
                    }, {
                        {% if block.is_camera %}
                            //iconLayout: 'default#image',
                            //iconImageHref: "{% static "radar.png" %}",
                            preset: 'islands#blueMoneyCircleIcon',
                            iconImageSize: [30, 30]
                        {% elif block.idcat == "6" %}
                            preset:  	'islands#blackStretchyIcon',
                            iconImageSize: [10, 30]
                        {% else %}
                            preset: 'islands#redStretchyIcon',
                            iconImageSize: [10, 30],
                        {% endif %}
                    });
                    myMap.geoObjects.add(pl{{ block.id }});
        {% endfor %}
    }
    </script>
</head>
<body>
<!--<img src="{% static "radar.png" %}">-->
  <div id="map" style="width: 100%; height: 100%"></div>
  {% for item in lst %}
      {% if item.idcat == "6" %}
        {{ item }}
      {% endif %}
  {%  endfor %}
</body>
</html>
